@model webdemo.Infrastructure.Base.PageConfig
@{
    var item_form = (this.Model.CurrentPageIndex - 1) * this.Model.PageSize + 1;
    var item_total = this.Model.TotalItemCount;
    var item_to = (this.Model.CurrentPageIndex) * this.Model.PageSize;
    item_to = item_to > item_total ? item_total : item_to;

    var last = this.Model.TotalPages;
    var prev = this.Model.CurrentPageIndex - 1;
    var next = this.Model.CurrentPageIndex + 1;

    int currentPage = this.Model.CurrentPageIndex;

    int leftPage = currentPage - 2;
    int rightPage = currentPage + 2;

    if (currentPage - 2 < 1)
    {
        rightPage += 3 - currentPage;
    }

    if (currentPage + 2 > last)
    {
        leftPage -= 2 - (last - currentPage);
    }

    leftPage = leftPage < 1 ? 1 : leftPage;
    rightPage = rightPage > last ? last : rightPage;
}

<footer class="panel-footer">

    <div class="row">


        @if (Model.TotalPages > 0)
        {
            <div class="col-lg-6 text-left">
                <small class="text-muted inline" style="font-size:15px;margin-top:8px;">第@(Model.CurrentPageIndex)页，共@(Model.TotalPages)页</small>&nbsp;&nbsp;&nbsp;&nbsp;
                <small class="text-muted inline" style="font-size:15px;margin-top:8px;">第@(item_form)到@(item_to)，共@(item_total)条数据</small>

            </div>
        }

        <div class="col-lg-6 text-right text-center-sm">

            <ul class="pagination pagination-small m-t-none m-b-none">

                @if (prev < 1)
                {
                    @*<li><a style="min-width:70px;text-align:center">上一页</a></li>*@
                }
                else
                {
                    <li class="paginate_button previous">
                        <a href="#" onclick="return AjaxToPage('@this.Model.FormId',@prev)" style="min-width:70px;text-align:center">
                            <i class="icon-chevron-left"></i>上一页
                        </a>
                    </li>
                }
                @for (int pages = leftPage; pages <= rightPage; pages++)
                {
                    if (pages == rightPage && pages != last)
                    {
                        <li><a href='#' onclick="return AjaxToPage('@this.Model.FormId',@pages)">...</a></li>

                    }
                    else if (pages == currentPage)
                    {
                        <li><a style="background-color: #4fdf8f; color: white;"> @pages </a></li>
                    }
                    else
                    {
                        <li><a href='#' onclick="return AjaxToPage('@this.Model.FormId',@pages)">@pages</a></li>
                    }
                }

                @if (next > last)
                {
                    @*<li><a style="min-width:70px;text-align:center">下一页</a></li>*@
                }
                else
                {
                    <li class="paginate_button next">
                        <a href='#' onclick="return AjaxToPage('@this.Model.FormId',@next)" style="min-width:70px;text-align:center">
                            下一页<i class="icon-chevron-right"></i>
                        </a>
                    </li>
                }
                @if (last != currentPage && Model.TotalPages > 0)
                {
                    <li><a href='#' onclick="return AjaxToPage('@this.Model.FormId',@last)">尾页</a></li>
                }

                @if (Model.TotalPages > 1)
                {
                    <li style="padding:0px;">
                        <a style="padding:0px;">
                            <input max="@last" style="text-align: center;width:50px;border:none;height:32px;" id="page_skip" type="number" value="@currentPage" min="0">
                        </a>
                    </li>
                    <li><a href='#' onclick="return AjaxToPage('@this.Model.FormId', parseInt( $('#page_skip').val()) )">跳转</a></li>
                }
            </ul>

        </div>

    </div>
    <script>
            $(function () {

                        UpdateHidden('@this.Model.FormId', 'pageIndex', '1');
        UpdateHidden('@this.Model.FormId', 'HpageIndex', '@this.Model.CurrentPageIndex');
        UpdateHidden('@this.Model.FormId', 'Hidden_Ajax_Time', '@DateTime.Now.Ticks.ToString()');


            })

    </script>
</footer>
