@model CreateCategoryVo
@{
    Layout = null;
}
<form id="editForm" asp-action="DoEdit" asp-controller="Category" data-ajax-method="post" data-ajax="true" data-ajax-complete="completed">
    <div class="modal-body">
        <input type="hidden" asp-for="@Model.Id">
        <input type="hidden" asp-for="@Model.ServiceId">
        <input type="hidden" asp-for="@Model.ParentId">
        <div class="mb-3">
            <label asp-for="@Model.CategoryName" class="form-label">菜单标题</label>
            <input type="text" class="form-control" placeholder="菜单标题" asp-for="@Model.CategoryName" />
            <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.CategoryName" class="form-label">菜单排序</label>
            <input type="text" class="form-control" placeholder="菜单排序" asp-for="@Model.Sort" />
            <span asp-validation-for="@Model.Sort" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>

<script>
    var completed = function (xhr) {
        var rv = JSON.parse(xhr.responseText);
        if (rv.code = 200) {
            $.tipsOk("操作成功!");
            setTimeout(function () {
                window.location.reload();
            }, 2000);
        } else {
            $.tipsError(rv.msg);
        }
    };
</script>
