@model PageResult<UserListVo>

@if (Model.Data.Count > 0)
{
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="tech-companies-1" class="table table-bordered table-centered mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>年龄</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.Password</td>
                                <td>@item.Age</td>
                                <td>
                                    <button type="button" title="修改" data-css="modal-lg" data-src="@Url.Action("Edit","User")?Id=@item.Id" class="btn btn-outline-primary">修改</button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="Delete(@item.Id)">删除</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <pager class="pagination pagination-rounded justify-content-center" list="@Model.Data" options="@SitePagedListRenderOptions.Boostrap4CustomizedText" asp-action="Index" asp-controller="User" asp-route-query="@Model.FilterData" />
        </div>
    </div>
}
else
{
     <div class="col-12">
        <div class="alert alert-warning text-center mb-0" role="alert">
            暂无数据!
        </div>
     </div>
}
<script type="text/javascript">
    var Delete = function (id) {
        $.confirm("您确定要删除吗？", function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Delete", "User")?Id=" + id,
                success: function (data) {
                    if (data) {
                        $.tipsOk("操作成功!");
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                    else {
                        $.tipsError("删除失败!");
                    }
                },
                error: function (error) {
                }
            });
        })
    };
</script>


