@model PageResult<UserListVo>

@if (Model.Data.Count > 0)
{
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="responsive-table-plugin">
                    <div class="table-rep-plugin">
                        <div class="table-responsive" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table table-bordered">
                                <thead class="table-light">
                                    <tr>
                                        <th>用户名</th>
                                        <th data-priority="1">密码</th>
                                        <th data-priority="3">年龄</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Data)
                                    {
                                        <tr>
                                            <td>@item.UserName</td>
                                            <td>@item.Password</td>
                                            <td>
                                                <a title="修改" data-src="/User/Edit?Id=@item.Id" class="btn btn-success btn-mini">修改</a>
                                                <a onclick="Delete(@item.Id)" class="btn btn-danger btn-mini">删除</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <pager class="pagination pagination-rounded justify-content-center" list="@Model.Data" options="@SitePagedListRenderOptions.Boostrap4CustomizedText" asp-action="Index" asp-controller="User" asp-route-query="@Model.FilterData" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
     <div class="col-12">
        <div class="alert alert-warning text-center mb-0" role="alert">
            暂无数据!
        </div>
     </div>
}

<script type="text/javascript">
    var Delete = function (id) {
        $.confirm("您确定要删除吗？", function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Delete", "User")?Id=" + id,
                success: function (data) {
                    if (data) {
                        $.tipsOk("操作成功!");
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }
                    else {
                        $.tipsError("删除失败!");
                    }
                },
                error: function (error) {
                }
            });
        })
    };
</script>


