@model UserSearch
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">用户管理</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form id="searchForm" asp-action="DoList" asp-controller="User" data-ajax="true" data-ajax-update="#list" data-ajax-mode="replace" data-ajax-method="post">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label asp-for="Keyword" class="col-mb-1 col-form-label">关键字</label>
                                    <div class="mb-3">
                                        <input asp-for="Keyword" class="form-control" placeholder="用户名" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label asp-for="@Model.Service" class="col-mb-1 col-form-label">服务</label>
                                    <div class="mb-3">
                                        <select asp-for="@Model.Service" asp-items="HtmlHelperExtensions.GetService()" class="form-select"></select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label asp-for="@Model.Status" class="col-mb-1 col-form-label">状态</label>
                                    <div class="mb-3">
                                        <select asp-for="@Model.Status" asp-items="HtmlHelperExtensions.GetStatusList()" class="form-select"></select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <datetimerange label="测试时间" asp-start-for="@Model.StartDate" asp-end-for="@Model.EndDate"></datetimerange>
                                    </div>
                                </div>
                                <div class="row col-lg-12">
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-end align-items-center gap-2">
                                            <button type="button" class="btn btn-outline-primary" title="添加" data-css="modal-lg" data-src="@Url.Action("Add","User")">
                                                添加
                                            </button>
                                            <button type="submit" class="btn btn-outline-primary">
                                                搜索
                                            </button>
                                            <button type="reset" class="btn btn-outline-primary">
                                                重置
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                    <div id="table-container">
                        @Html.Action("DoList", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
